.graficas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .bar {
        margin-top: 30px;
        width: 35%;
        height: 40%;
        h1 {
            text-align: center;
        }
    }
    .line {
        margin-top: 30px;
        width: 35%;
        height: 40%;
    }
    .pie {
        margin-top: 30px;
        width: 35%;
        height: 30%;
    }
    .radar {
        margin-top: 30px;
        width: 30%;
        height: 30%;
    }
}