.btn-float {
    background-color: #0052ff;
    border: 0px;
    border-radius: 20%;
    bottom: 40px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    transition: all 0.400s ease;
    right: 40px;
    z-index: 9999999;
    &:hover {
        background-color: #0004ff;
        cursor: pointer;
        transition: all 0.400s ease;
    }
    span {
        color: #ffffff;
        margin-right: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}