    .modalNotification {
        align-items: flex-start;
        background-color: rgb(255, 255, 255);
        border-radius: 1%;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: stretch;
        margin-top: 70px;
        position: fixed;
        right: 360px;
        opacity: 0;
        visibility: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        transition: all 0.200s ease;
        width: 350px;
        z-index: 10;
        &.active {
            opacity: 1;
            transition: all 0.200s ease;
            visibility: visible;
        }
        .notificacion {
            width: 100%;
            background-color: rgb(255, 255, 255);
            padding: 15px;
            padding-top: 20px;
            position: sticky;
            .infoPopol {
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                margin-left: 35px;
            }
        }
        .picture {
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            display: flex;
            width: 100%;
            padding-bottom: 25px;
            padding-left: 15px;
            .picture-entry {
                align-items: center;
                border-radius: 10px;
                justify-content: center;
                height: 60px;
                width: 60px;
            }
        }
        .entry_body {
            padding-left: 10px;
            padding-right: 10px;
            overflow: hidden;
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-wrap: break-word;
            p {
                font-size: 14px;
                margin: 0;
            }
            span {
                font-size: 13px;
            }
        }
    }