//variables globales de colores
$mainColor: #fffdff;
$secondColor: #404E67;
.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
    z-index: 10;
}

.fab-danger {
    bottom: 25px;
    padding: 10px;
    position: fixed;
    left: 25px;
}